@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Iceland&family=Lekton:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    border-color: white !important;
}
input[type="password"]::-ms-reveal {
    filter: invert(1);
}
input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
    appearance: none;
    -webkit-appearance: none;
}
html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
body {
    font-family: 'Asap', sans-serif;
    height: 100%;

    /* background: #0f0c29;
    background: linear-gradient(to right, #2a2a51, #302b63, #281f69); */
    background: #353589;
    background: linear-gradient(
        145deg,
        rgba(53, 53, 137, 1) 0%,
        rgb(61, 61, 164) 20%,
        rgba(87, 93, 199, 1) 75%,
        rgba(83, 181, 237, 1) 100%
    );
    background-attachment: fixed;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Tauri */
}

/* background: #353589;
background: linear-gradient(
    145deg,rgba(53, 53, 137, 1) 0%, 
    rgba(67, 71, 181, 1) 54%, 
    rgba(87, 93, 199, 1) 100%
); */

/* html,
body,
#root {
    height: 100%;
    margin: 0;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
        145deg,
        rgba(53, 53, 137, 1) 0%,
        rgba(87, 93, 199, 1) 60%,
        rgba(83, 181, 237, 1) 100%
    );
}

.content {
    min-height: 100vh;
} */